<footer class="footer">
    <span class="border-color"></span>
    <p>Preços e condições de pagamento exclusivos para compras via internet, podendo variar nas lojas físicas. Ofertas válidas na compra de até 5 peças de cada produto por cliente, até o término dos nossos estoques para internet. Caso os produtos apresentem divergências de valores, o preço válido é o da sacola de compras. Vendas sujeitas a análise e confirmação de dados.</p>

    <a href="https://especiais.magazineluiza.com.br/politica-de-privacidade/">Política de privacidade</a>

    <div class="address">
        Magazine Luiza S/A - CNPJ: 47.960.950/1088-36
    </div>
</footer>