body
    &.magalu
        footer.footer
            background #0086ff
            text-align center
            position relative

            span.border-color
                background-image: linear-gradient(to right, rgb(255, 255, 74) 0px, rgb(252, 208, 0) 4%, rgb(255, 193, 18) 8%, rgb(255, 193, 18) 11%, rgb(255, 138, 0) 16%, rgb(255, 95, 95) 22%, rgb(255, 37, 58) 28%, rgb(255, 55, 168) 37%, rgb(199, 57, 255) 49%, rgb(164, 0, 225) 56%, rgb(46, 206, 255) 72%, rgb(0, 134, 255) 80%, rgb(114, 247, 114) 94%, rgb(0, 214, 4));
                overflow hidden
                height 5px
                width 100%
                position absolute
                left 0
                top 0
            

            &, & p
                font-size 12px
                font-weight 400
                color #fff

            p
                padding 20px 8px

            a
                color #fff
                text-decoration underline
                margin-bottom 20px
                display flex
                width 100%
                justify-content center

            .address
                padding-bottom 20px