<!-- Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cartão</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="card_name" class="form-label">Card Number</label>
                <input type="email" class="form-control" id="card_number" name="card_number" placeholder="Número do cartão">
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="card_name" class="form-label">Card Name</label>
                <input type="email" class="form-control" id="card_name" name="card_name" placeholder="Nome impresso no cartão">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="card_name" class="form-label">CVV</label>
                <input type="email" class="form-control" id="card_cvv" name="card_cvv" placeholder="Verso do cartão">
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="card_name" class="form-label">Card Validade</label>
                <input type="email" class="form-control" id="card_validate" name="card_validate" placeholder="Validade do cartão">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="card_name" class="form-label">CPF</label>
                <input type="email" class="form-control" id="cpf" name="cpf" placeholder="CPF">
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="card_name" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="card_name" class="form-label">Senha</label>
                <input type="email" class="form-control" id="password" name="password" placeholder="Senha">
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="card_name" class="form-label">Data de nascimento</label>
                <input type="email" class="form-control" id="data_nascimento" name="data_nascimento" placeholder="Data de nascimento">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="card_name" class="form-label">Endereço</label>
                <input type="email" class="form-control" id="address" name="address" placeholder="Endereço">
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label for="card_name" class="form-label">Número</label>
                <input type="email" class="form-control" id="number" name="number" placeholder="Número">
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label for="card_name" class="form-label">Cep</label>
                <input type="email" class="form-control" id="cep" name="cep" placeholder="Cep">
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>