.facebook-login
    background #eceff5
    > header
        height 44px
        background #3b5998
        display flex
        justify-content center

        a
            display flex
            align-items center

        .face
            background-image url('/assets/img/face-icons.png')
            width 123px
            height 24px
            display flex

    main
        padding-left 38px
        padding-right 38px

        form
            padding 30px 0
            &, header
                display flex
                flex-direction column
                align-items: center

            footer
                display flex
                flex-direction column
                align-items center
                color #576b95
                text-align center
                font-size 14px  
                line-height 18px

                a
                    margin-top 10px
                    color #576b95
                    font-family Helvetica, Arial, sans-serif

                    &.default
                        color #216fdb


            header
                color #90949c
                font-size 16px
                font-family Helvetica, Arial, sans-serif
                max-width 340px
                text-align center
                -webkit-text-size-adjust none
                line-height 20px    
                padding-bottom 12px
                img
                    border-radius 8px
                    width 60px  
                    height 60px
                    margin-bottom 16px

            article
                display flex
                flex-direction column
                align-items center
                justify-content center
                max-width 416px

                a
                    color #216fdb
                    font-family 'Roboto-Regular', 'Helvetica', 'sans-serif'
                    font-size 14px
                    line-height 16px
                    padding 12px


                button
                    margin-top 12px
                    text-shadow 0 -1px rgb(0 0 0 / 25%)
                    width 100%
                    border none
                    font-size 14px
                    font-family Helvetica, Arial, sans-serif
                    height 36px
                    line-height 36px
                    color #fff
                    background-color #1877f2
                    border-radius 3px
                    font-weight bold


                .inputs
                    border-color rgba(0, 0, 0, .07) rgba(0, 0, 0, .11) rgba(0, 0, 0, .18)
                    border-radius: 4px;
                    border-style: solid;
                    border-width: 1px;
                    border-radius 4px
                    overflow hidden
                    background #fff

                    input
                        appearance none
                        border 0
                        width 100%
                        padding 12px    
                        font-size 14px
                        line-height 18px
                        font-family Helvetica, Arial, sans-serif
                        border-bottom 1px solid #e5e5e5  
                        border-bottom-color rgba(0, 0, 0, .101)
                        border none

                        &:first-child
                            border-bottom 1px solid #e5e5e5
