.modal-fail
    display none
    &.show
        display block
    position fixed
    width 100%
    height 100%
    background rgba(255,255,255,0.7)
    top 0
    left 0

    .modal-fail-body
        width 100%
        height calc(100% - 60px)
        margin-top 60px
        background #fff
        position relative
        padding 15px

    .modal-close
        width 30px
        height 30px
        display flex
        position absolute
        right 20px
        top 15px
        svg
            width 100%
            height 100%

    footer
        display flex
        justify-content center
        svg
            width 120px
            height 125px

    article
        h3
            font-size 18px
            font-weight 700
            text-align center
            color #0083ca

        p
            text-align center
            color #0083ca
            font-size: 15px 

    header
        width 100%
        
        display flex
        justify-content center
        svg
            width 120px
            height 125px