.text-green
    color #58c22e !important
    text-align center

.payment-forma
    padding 20px 0
.payment-background
    background #f4f4f4

    &.payment-resume
        color #404040
        font-size 15px
        padding-top 20px
        padding-bottom 20px
        text-align center
        padding-bottom 40px
        text-align center

        .boleto-informations
            text-align left
            margin-top 15px
            margin-bottom 15px
            color #404040

            h3
                font-weight 700
                font-size 16px
                color #404040

            .orange-text
                display flex
                color #fb9600
                width 100%

            .boleto-code
                display flex
                width 100%
                font-size 14px
                justify-content space-between

                textarea
                    flex 1
                    white-space wrap
                    height 60px
                    outline 0
                    border 0
                    background #f4f4f4
                    padding-right 25px
                    font-size 16px

                i
                    flex 0 0 18px   
                    height 20px

                    svg
                        width 18px
                        height 20px

        &.pix-form
            border-top 15px solid #fff
            h3
                color #000
                font-size 18px
                font-weight 700
                margin-top 10px
                margin-bottom 20px

            strong
                color #515151
                font-size 15px

            input
                height 52px
                width 100%
                margin-bottom: 10px;
                font-size: 16px;
                padding-top: 10px;
                padding-bottom: 0;
                border-radius: 4px;
                border: 1px solid #e5e5e5;
                padding: 0 6px;

            .button-comfirm
                width 100%
                background #58c22e
                color #fff
                font-size 18px
                text-align center
                height 40px 
                display flex
                align-items center
                justify-content center
                text-decoration none
                border-radius 4px

            > span
                display flex
                margin 30px auto
                padding 0
                width 25px
                height 25px
                border-radius 50%
                border: 1px solid #515151;
                justify-content center
                align-items center

        p
            margin-bottom 0

        a
            font-size 15px
            text-decoration underline
            margin-top 20px
            display flex
            justify-content center
            color #8c8c8c

        strong
            width 100%
            display flex
            text-align center
            justify-content center
            font-size 18px
            font-weight 700

            &.pedido
                color #0083ca
                font-size 24px
                margin-bottom 15px

    .goto-resume
        padding 0 25px
        h3
            text-align left
            color #0083ca
            font-weight 700
            font-size 16px
            margin-top 25px
            margin-bottom 20px

        p
            color #404040
            font-size 15px

        a
            width 85%
            display flex
            background #58c22e
            color #fff
            font-size 18px
            margin 20px auto
            border-radius 4px
            text-align center
            line-height 40px
            justify-content center

    .secure-buy
        padding 10px 0
        display flex
        justify-content center
        align-items center
        padding-bottom 20px

        svg
            margin-right 12px

    .payment_methods
        list-style none
        padding 0
        margin-top 20px

        li
            display flex
            flex-direction column
            box-shadow 0 1px 0 0 #e5e5e5, 0 2px 0 0 #fff
            padding 0
            font-size 14px
            color #404040


            .form-content
                &:not(.show)
                    display none
            
            form
                button
                    width 85%
                    height 40px
                    margin 15px auto
                .cvv-text
                    display flex
                    font-size 12px
                    padding 0

                    span
                        font-size 12px
                        padding 0

                    svg
                        width 120px
                        height 50px
                        margin 0
                        margin-right 10px 
                        flex 0 0 50px
                .select-container
                    display flex
                    position relative

                    label
                        position absolute
                        top 5px
                        color #8c8c8c
                        font-size 80%
                        padding-left 6px

                    select
                        width 100%
                        height 52px
                        border-radius: 4px;
                        border: 1px solid #e5e5e5;
                        margin: 0 auto;
                        padding: 0 6px;
                        padding-top: 10px;
                        padding-bottom: 0;
                        font-size: 14px
                .input-container
                    position relative
                    input
                        border 1px solid #e5e5e5
                        padding: 0 6px;
                        padding-bottom: 0;
                        font-size 14px
                        height 52px
                        padding-left: 48px;
                        padding-top 10px
                        line-height 1.15
                        margin 0 auto

                        &:placeholder
                            line-height 1.15
                            font-size 14px


                    label
                      width 18px  
                      position absolute
                      margin 0 12px
                      height 52px
                      display flex
                      justify-content: center
                      align-items: center
                      top 4px
    
                      svg
                        width 100%
                        fill #8b8b8b
                        margin 0
                        height 100%
                

            span
                display flex
                align-items center
                padding 10px 0
                font-size 14px
                color #404040

            > div
                width 100%

            svg
                margin 0 10px
                width 50px

                &.PaymentBox-icon-card
                    
                    padding-left 10px
                    padding-right 10px

            .pix-text
                border-radius 4px
                background #58c22e
                color #fff
                font-size 13px
                padding 3px 7px
                margin-left 15px

            input
                &[type=radio]
                    width 24px
                    height 24px
                    outline 0
                    border 1px solid rgb(34, 184, 241)
.pedido-forma
    position relative
    padding-bottom 15px
    &:before
        content ''
        width calc(100% + 32px)
        position absolute
        left -16px
        bottom -15px
        border-bottom: 15px solid #e5e5e5;
    .pedido-infos
        margin-top 30px
        font-size 14px
        color #404040
        h3
            color #404040
            font-size 20px
        strong
            font-weight 700
            font-size 14px
            color #404040

        p
            margin-top 10px
            font-size 14px
            color #404040

    .total
        display flex
        justify-content space-between

        strong
            font-size 16px
            color #404040

        .payment-forms
            display flex
            flex-direction column
            text-align right

            .values
               font-size 14px 
               color #0083ca
               font-weight 700

        .card-parcel-option
            display flex
            font-size 12px
            color #8c8c8c
            margin-top 10px

            figure
                margin-right 20px
              svg  
                width 34px
                height 34px

.payment-summary
    margin-bottom 20px

    
    > div:not(.pedido-infos)
        width 100%
        display flex
        justify-content space-between
        font-size 14px
        color #404040

        .pedido-price
            color #0083ca

        .pedido-frete
            font-weight 700
            color #58c22e