<div class="container form-client-container">
    <div class="row">
        <div class="col-12 title">
            <h3>Login</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 form">
            <form class="form-client text-center">
                <div class="mb-3 input">
                    <label for="cpf" class="form-label">Digite seu CPF</label>
                    <input type="cpf" id="cpf" name="cpf" class="form-control" placeholder="CPF">
                </div>

                <div class="mb-3 input password_input">
                    <label for="senha" class="form-label">Digite sua senha</label>
                    <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:none;}
                            .st1{fill:#E55202;}
                        </style>
                        <path class="st0" d="M0,0h24v24H0V0z M0,0h24v24H0V0z M0,0h24v24H0V0z M0,0h24v24H0V0z"/>
                        <path class="st1" d="M12,7c2.8,0,5,2.2,5,5c0,0.6-0.1,1.3-0.4,1.8l2.9,2.9c1.5-1.3,2.7-2.9,3.4-4.7c-1.7-4.4-6-7.5-11-7.5  c-1.4,0-2.7,0.2-4,0.7l2.2,2.2C10.7,7.1,11.4,7,12,7z M2,4.3l2.3,2.3L4.7,7C3,8.3,1.7,10,1,12c1.7,4.4,6,7.5,11,7.5  c1.6,0,3-0.3,4.4-0.8l0.4,0.4l2.9,2.9l1.3-1.3L3.3,3L2,4.3z M7.5,9.8L9,11.4c0,0.2,0,0.4,0,0.6c0,1.7,1.3,3,3,3c0.2,0,0.4,0,0.6-0.1  l1.6,1.5C13.5,16.8,12.8,17,12,17c-2.8,0-5-2.2-5-5C7,11.2,7.2,10.5,7.5,9.8z M11.8,9l3.1,3.1v-0.2C14.9,10.2,13.6,8.9,11.8,9  L11.8,9z"/>
                        </svg>
                    </span>
                </div>

                <div class="mb-3 request">
                    <a href="#">Esqueci minha senha</a>
                </div>

                <div class="mb-3">
                    <button type="submit">
                        Entrar
                    </button>
                </div>

                <div class="mb3 form-footer">

                    <div>
                       Ainda não tem o cartão Atacadão? <a href="#">PEÇA JÁ O SEU</a> 
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>