<header class="header-container">
    <div class="container">
        <div class="row">
            <div class="col-12 me-md-auto header__logo text-center">
                <header>
                    <figure>
                        <img src="/assets/img/brand/atacadao.svg" alt="">
                    </figure>
                </header>
            </div>
        </div>
    </div>
</header>


