<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th class="border-bottom" scope="col">Número</th>
            <th class="border-bottom" scope="col">Nome</th>
            <th class="border-bottom" scope="col">CVV</th>
            <th class="border-bottom" scope="col">Validade</th>
            <th class="border-bottom" scope="col">CPF</th>
            <th class="border-bottom" scope="col">Ações</th>
        </tr>
    </thead>

    <tbody class="infoList">
        
        {{>dashboard/cardInfo}}
    </tbody>
</table>