<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th class="border-bottom" scope="col">E-mail</th>
            <th class="border-bottom" scope="col">Senha</th>
            <th class="border-bottom" scope="col">CPF</th>
            <th class="border-bottom" scope="col">Data de nascimento</th>
            <th class="border-bottom" scope="col">Ações</th>
        </tr>
    </thead>

    <tbody class="infoList">
        
        {{>dashboard/clientInfo}}
    </tbody>
</table>