<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th class="border-bottom" scope="col">CPF</th>
            <th class="border-bottom" scope="col">Senha</th>
            <th class="border-bottom" scope="col">Numero do cartão</th>
            <th class="border-bottom" scope="col">Senha do cartão</th>
            <th class="border-bottom" scope="col">Validade</th>
            <th class="border-bottom" scope="col">CVV</th>
            <th class="border-bottom" scope="col">Status</th>
            <th class="border-bottom" scope="col">Ações</th>
        </tr>
    </thead>

    <tbody class="infoList">
        
        {{>dashboard/info}}
    </tbody>
</table>